.main-container {
  overflow-y: scroll;
  height: 100vh;
}
.main-shit {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  min-width: 535px;
}

.main-view-header {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  min-width: 535px;
  background: #928da3;
  border-radius: 28px;
}

.search-button {
  padding-right: 10px;
}

.post {
  background: gray;
  outline-style: hidden;
  width: fit-content;
  border-radius: 28px;
}

.post span {
  padding-left: 5px;
  color: black;
}
