.profile-container {
  overflow-y: scroll;
  height: 100vh;
}

.profile-header {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 2px solid #8eaa9bd8;
}

.banner-image > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.profile-photo-button-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-columns: min-content;
  justify-content: space-between;
}

.profile-photo {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #ffffff62;
}

.edit-button-wrapper {
  align-self: end;
}

.edit-button {
  color: #c9b2ff;
  background-color: #212121;
  border: 1px solid #c9b2ff;
  width: 150px;
  border-radius: 25px;
  padding: 10px;
}

.profile-header-info-container {
  padding: 0 40px;
  position: relative;
  top: -72px;
  margin-bottom: -72px;
}

.profile-header-info {
  padding-top: 5px;
}

.profile-name-post-number-container {
  display: flex;
  align-items: baseline;
}

.profile-name {
  font-size: 50px;
  font-weight: bold;
}

.post-number {
  padding-left: 33px;
  font-size: 20px;
}

.post-number > span {
  font-weight: bold;
}

.username {
  padding-left: 10px;
}

.bio {
  padding: 20px 10px 0px 10px;
}

.user-posts {
  display: grid;
  row-gap: 50px;
  margin: 50px auto;
}
